services:

  coordinator:
    build: ../rust/.
    container_name: con
    environment:
      - APP_ROLE=coordinator
      - PORT=8080
      - IMAGE_WIDTH=${IMAGE_WIDTH}
      - IMAGE_HEIGHT=${IMAGE_HEIGHT}
      - BLOCK_SIZE=${BLOCK_SIZE}
      - MAX_ITERS=${MAX_ITERS}
    ports:
    - "8080:8080"

  worker-1:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8081
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8081:8081"
    depends_on:
      - coordinator

  worker-2:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8082
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8082:8082"
    depends_on:
      - coordinator

  worker-3:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8083
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8083:8083"
    depends_on:
      - coordinator

  worker-4:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8084
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8084:8084"
    depends_on:
      - coordinator

  worker-5:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8085
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8085:8085"
    depends_on:
      - coordinator

  worker-6:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8086
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8086:8086"
    depends_on:
      - coordinator

  worker-7:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8087
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8087:8087"
    depends_on:
      - coordinator

  worker-8:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8088
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8088:8088"
    depends_on:
      - coordinator

  worker-9:
    build: ../rust/.
    environment:
      - APP_ROLE=worker
      - PORT=8089
      - COORDINATOR_URL=http://coordinator:8080
      - MAX_ITERS=${MAX_ITERS}
      - X_MIN=${X_MIN}
      - X_MAX=${X_MAX}
      - Y_MIN=${Y_MIN}
      - Y_MAX=${Y_MAX}
    ports:
      - "8089:8089"
    depends_on:
      - coordinator
